<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
                             http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <!-- Home servlet -->
    <servlet>
        <servlet-name>HomeServlet</servlet-name>
        <servlet-class>HomeServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>HomeServlet</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>

    <!-- Listings -->
    <servlet>
        <servlet-name>ListingsServlet</servlet-name>
        <servlet-class>ListingsServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ListingsServlet</servlet-name>
        <url-pattern>/listings</url-pattern>
    </servlet-mapping>

    <!-- Auth: login -->
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>LoginServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>

    <!-- Auth: signup -->
    <servlet>
        <servlet-name>SignupServlet</servlet-name>
        <servlet-class>SignupServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>SignupServlet</servlet-name>
        <url-pattern>/signup</url-pattern>
    </servlet-mapping>

    <!-- Admin -->
    <servlet>
        <servlet-name>AdminServlet</servlet-name>
        <servlet-class>AdminServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>AdminServlet</servlet-name>
        <url-pattern>/admin</url-pattern>
    </servlet-mapping>

    <!-- Create Listing -->
    <servlet>
        <servlet-name>CreateListingServlet</servlet-name>
        <servlet-class>CreateListingServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>CreateListingServlet</servlet-name>
        <url-pattern>/create-listing</url-pattern>
    </servlet-mapping>

</web-app>