<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
                             http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <!-- DbTest servlet -->
    <servlet>
        <servlet-name>DbTestServlet</servlet-name>
        <!-- If DbTestServlet is in the default package (no package line), use just this: -->
        <servlet-class>DbTestServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>DbTestServlet</servlet-name>
        <url-pattern>/dbtest</url-pattern>
    </servlet-mapping>

    <!-- Home servlet -->
    <servlet>
        <servlet-name>HomeServlet</servlet-name>
        <servlet-class>HomeServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>HomeServlet</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>

</web-app>